.model-viewer {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: $code-background;
  border-radius: 4px;
  margin: 20px auto 10px;
  overflow: hidden;
}
.model-viewer-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.model-viewer.model-viewer-fallback {
  aspect-ratio: auto;
  background: none;
}
.model-viewer-fallback-image {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.model-viewer-attribution {
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  opacity: 0.7;
}
