---
---

@use "sass:color";
@use "variables" as *;
@use "-sections-dir";

body, html {
  background-color: $body-background;
  color: $text-color;
}

a {
  color: $link-color;
}

a:hover {
  color: color.adjust($link-color, $lightness: 20%);
}

.post-container {
  background-color: $post-background;
}

.post-content h1 {
  color: $post-title-color;
}

.site-header {
  background-color: $body-background;
}

.site-title a {
  color: $title-color;
}
.site-header a.menu-link {
  color: $brand-color;
}
.site-header a.menu-link:hover {
  color: color.adjust($brand-color, $lightness: 15%);
}
.site-header a.menu-link.active {
  color: $title-color;
}
.site-header a.social-link {
  color: $link-color;
}

.site-footer {
  background-color: $body-background;
  color: $text-color;
}

.footer {
  background-color: $body-background;
}


@media (max-width: 768px) {

.dropbtn, .dropbtn:hover, .dropbtn:focus, .dropbtn:active {
  background-color: $body-background;
}

.dropbtn::before, .dropbtn::after, .dropbtn span {
  background-color: $text-color;
}
.dropdown-content{
  background-color: $body-background;
}

.dropdown-content a {
  color: $link-color;
}

.dropdown-content a:hover, .dropdown-content a:focus {
  background-color: $post-background;
  color: color.adjust($brand-color, $lightness: 20%)
}
.dropdown-content a.active {
  color: $title-color;
  font-weight: bold;
}
}
